body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

p {
  line-height: 2;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  width:6%;
  border: dotted 6px #EAF6F6;
  border-bottom: none;
  margin: 100px auto;
}

.computer-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 1em;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 2rem;
  padding: 50px 0 2px;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 0 2rem;
  text-decoration: none;
  font-weight: 900;
}

.footer-link:hover {
  color: #EAF6F6;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.My-photo {
  width: 15%;
}

.profile {
  padding-top: 5rem;

}

.profile-desc {
  margin: auto;
  width: 30%;
}
.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
}

.hot-wings {
  padding-bottom: 2rem;
}

.hotwings-desc {

  width: 45%;
  margin: 0 auto 2rem;
}

.btn {
  color: #11999E;
  text-decoration: none;
  font-weight: 900;
}

.btn:hover {
  color: #2BC4AD;
}
